@page
@model EventManagementPlatform.Pages.AttendeesModel
@{
    ViewData["Title"] = "Manage Attendees";
}

<h2>Manage Attendees</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Attendee Name</th>
            <th>Email</th>
            <th>Registered Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendee in Model.Attendees)
        {
            <tr>
                <td>@attendee.Name</td>
                <td>@attendee.Email</td>
                <td>
                    <ul>
                        @foreach (var eventItem in attendee.EventAttendees)
                        {
                            <li>@eventItem.Event.Name (Starts: @eventItem.Event.StartTime.ToString("g"))</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
